@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('./common.css');
body{
    margin: 0;
    padding: 0;
}

#container{
    width: var(--percent100--width);
    height: var(--container--height);
    margin: 0 auto;  /*가운데 정렬*/
}

#contents{
    width: var(--percent100--width);
    height: var(--percent100--height);
    background-color: rgba(0, 0,0, 0.3);
    background-image: url(../img/main.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Merienda', cursive;
    color: white;
    font-size: 40px;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.alert__txt{
    display: block;
    opacity: 0;
    padding-bottom: 10px;
}

.alert__txt.visible{
    opacity: 1;
    color: tomato;
    margin: 0 auto;
    text-shadow: rgba(0, 0,0, 0.5) 1px 1px;

}

#content__userInfo{
    width: var(--percent100--width);
    height: var(--percent100--height);
    margin: 0 auto;
    display: flex;
    background-color: var(--background--color--opacity);
    flex-direction: column;
    justify-content: center;
}

.content__info__box{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block;
    line-height: 100%;
}

label{
    width: 110px;
    display: inline;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}

input[type='text'],
input[type='password']{
    width: 170px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    background-color: white;
    border: none;
    opacity: 0.2;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type='button']{
    width: 60px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    color: #bbb7ad;
    background-color: var(--background--color--opacity);
    cursor: pointer;
}

input[type='button']:hover{
    color: #fff59d;
}